table,th,html,body
{
    background-color: white ;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:20px;
    line-height: 1.5;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

button
{
    background-color: blue;
    color: white;
    border-color: transparent;
    
}

#wrapper {
    background-color: white;
    color: black;
    width: 800px;
    min-width: 800px;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 25%;
}

#titre {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: blue;
    background-color: white;
    padding-top: 10%;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }


