table,
th,
td {
    border: 1px solid #cccccc
}

body {
    background-color: #7f7f2f;
    color: #003300;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
    background-color: #ffffcc;
    color: #003300;
    width: 680px;
    min-width: 680px;
    height:100%;
    margin: 0;
    position: absolute;
    left: 30%;
}

#titre
{
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }
